#main-container {
    position: absolute;
    top: 5%;
    left: 5%;
    height: 90%;
    width: 90%;
    outline: 2px dashed red;
}

#main {
    position: absolute;
    height: 20%;
    width: 25%;
    outline: 2px solid red;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

#sprite {
    display: none;
}

.container {
    height: 20%;
    width: 25%;
    position: absolute;
    outline: 2px solid red;
}

#container-1 {
    top: 2%;
    left: 2%;
}

#container-2 {
    top: 2%;
    right: 2%;
}

#container-3 {
    left: 2%;
    bottom: 2%;
}
